

.green{	
	color:green;
}

#yellow{
	color:yellow;
}

img:hover{
	width: 100px;
	transition: 5s linear;
}


img{
	width: 500px;
	transition: 1s linear;
}
.red:hover{
	font-size: 60pt;
	transition: 2s linear;
}
#little{
	font-size: 0.5pt;
	transition: 10s linear;
}

h1{
	color:blue;
}

h1:hover{
	text-shadow:2px 50px 0.5px red;
transition: 1s linear;

}



